.contact-title{
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    color: #099d8d;
    margin: 30px 0px 15px 0px;
    text-align: center;
}

.contact-text, {
    color: #54585A;
    font-family: "Open Sans Medium", sans-serif;
    font-size: 16px;
    text-align: center;
}

.contact-advise {
    color: #54585A;
    font-family: "Open Sans Medium", sans-serif;
    font-size: 12px;
    text-align: center;
    margin-bottom: 60px;
}

.llamada {
    color: #00A193;
    font-weight: bold;
}

.name-class, .email-class, .tel-class, .msg-class{
    color: #54585a;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

.form__wraper{
    padding-bottom: 60px;
}

.part{
    margin-bottom: 15px;
    padding: 0 15px;
}

.part-4{
    margin-bottom: 30px;
}

.input-email, .input-name, .input-tel{
    width: 100%;
    height: 45px;
}

textarea {
    resize: none;
    width: 100%;
    height: 105px;
}

input[type=submit] {
    padding: 5px 15px; 
    background: #099d8d;  
    border: 0 none;
    cursor: pointer;
    border-radius: 5px; 
    width: 100%;
    height: 45px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Open Sans";
}

.submit-button{
    box-sizing: border-box;
    margin: 0px 15px;
}

//Tablet//

@media all and (min-width: 768px) {
    .wrapper{
        width: 442px;
        margin: 0 auto;
    }

    .form__wraper{
        display: flex;
        flex-direction: column;
    }

    .submit-button{
        width: 206px;
        height: 45px;
        align-self: flex-end;
    }


}

//Desktop//

@media all and (min-width: 1200px) {
    .contact-title{
        margin-top: 45px;
    }

    .wrapper{
        width: 601px;
        margin: 0 auto;
    }

    .form__wraper{
        padding-bottom: 120px;
        display: flex;
        flex-direction: column;
    }

    .submit-button{
        width: 206px;
        height: 45px;
        align-self: flex-end;
        transition: box-shadow ease .7s;
        &:hover{
            box-shadow: 10px 10px 20px #b8b8b9;
        }
    }

    .locura{
        display: grid;
        grid-template-columns: 395px 162px;
        grid-gap: 44px;
    }

}