footer{
    bottom: 0;
    width: 100%;
    border-top: 2px #b8b8b9 solid;
    /* height: 100%; */
}

.stamp{
      margin:30px 0 20px 0;
      color:#b8b8b9;
      font-family: "Open Sans", sans-serif;
      font-size:14px;
      text-align: center;
}

.navfooter{
      font-family: "Open Sans", sans-serif;
      color: #54585a;
      font-size: 14px;
/*con semibold no va, y como en normal es 400 y el bold 700, una cosa intermedia 600*/
      font-weight: 550;
      text-decoration: none;
      display: block;
      text-align: center;
}
    
.adalab{
        text-align: center;
}
  
.imagen-adalab{
    width: 115.9px;
    height: 45px;
    margin:30px 0 45px;
}

@media all and (min-width: 768px) {
    .stamp {
        float: left;
        margin-bottom: 15px;
        margin-left: 45px;
    }

    .imagen-adalab {
        margin-top: 20px;
        float: left;
        margin: 0 0 60px 0;
    }

    .menu-footer {
        float: right;
        margin-top: 25px;
        margin-right: 45px;
    }

    .menu-navfooter {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .adalab {
        float:left;
        clear: both;
        margin-left: 35px;
    }
}

