footer {
    padding: 0;
    margin: 0;
}


.pie{
    bottom: 0;
    width: 100%;
    border-top: 2px #b8b8b9 solid;
   
}

.stamp{
      margin:30px 0 20px 0;
      color:#b8b8b9;
      font-family: "Open Sans", sans-serif;
      font-size:14px;
      text-align: center;
}

.navfooter{
      font-family: "Open Sans", sans-serif;
      color: #54585a;
      font-size: 14px;
/*con semibold no va, y como en normal es 400 y el bold 700, una cosa intermedia 600*/
      font-weight: 550;
      text-decoration: none;
      display: block;
      text-align: center;
      transition: font-size ease .5s;

      &:hover{
          font-size: 17px;
      }
}
    
.adalab{
        text-align: center;
}
  
.imagen-adalab{
    width: 115.9px;
    height: 45px;
    margin:30px 0 45px;
}

@media all and (min-width: 768px) {
   
    .pie {
        position: relative;
        padding: 30px 0px 60px;
    }

    .menu-footer {
        position: absolute;
        right: 10vw;
        top: 25px;
        text-align: right;
    }

    .navfooter {
        text-align: right;
        line-height: 30px;
    
    }

    .adalab, .stamp {
        text-align: left;
       

    }

    .stamp {
        margin: 0 0 15px 75px;
    }

    .adalab{
        margin-left: 75px;
    }
    .imagen-adalab {
        margin: 0;
    }
}

