.about-us-title {
    margin: 45px 0 45px 0;
}

.descriptions {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
   
}

.profile-pic{
    grid-column: span 1;
}
.personal {
    grid-column: span 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
 
}


.descriptions:nth-child(2n) .personal {       
    
}



.descriptions:nth-child(2n) .story {   
  
}

.story{
   
}

.profile-pic{
    width: 205px;
    height: 205px;
    
}


.icons{
    padding-bottom: 0;
}




