ul {
  padding: 0;
  margin: 0;
}


/***** ABOUT US ******/

.wrapper--about-us{
  position: relative;
}

 #about-us{
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  top: -115px;
}

.container-about-us {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-row-gap: 45px;
}



.descriptions:last-child {
  margin-bottom: 45px;
}

.about-us-title {
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  color: #099d8d;
  margin: 30px 0px;
  text-align: center;
  padding: 5px 0px;
}

.descriptions {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  grid-row: span 1;
}

.profile-pic {
  width: 180px;
  height: 180px;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, .13);
  border-radius: 4px;
}

.personal {
  text-align: center;
  margin-top: 15px;
}


.name {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #000000;
  margin: 0px;

}




.story {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #54585a;
  margin: 10px 0px;

}

.icons {

  margin: 15 0 0 45px;
  color: #000000;
  padding: 15px 0 0 0;

}

.linkedin {
  text-decoration: none;
}

.fab {
  color: #099d8d;
}


@media all and (min-width: 768px) {

  .container-about-us {
    margin: 0 45px;
  }

  .about-us-title {
    margin: 45px 0;
  }

  .descriptions {
    display: grid;
    grid-template-columns: 205px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 60px;

  }

  .descriptions:last-child {
    margin-bottom: 60px;
  }


  .personal {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .descriptions:nth-child(2n) {
    grid-template-columns: 1fr 205px;
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
  }

  .descriptions:nth-child(2n) .personal {
    grid-column-start: 1;
    grid-column-end: 2;
    align-items: flex-end;
  }

  .descriptions:nth-child(2n) .individualpic {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1;
  }


  .descriptions:nth-child(2n) .story {

    text-align: right;
  }

  .story {
    width: 50vw;
    margin-bottom: 0;
    text-align: left;
  }

  .profile-pic {
    width: 205px;
    height: 205px;

  }


  .icons {
    padding-bottom: 0;
  }
}




// Versión desktop//

@media all and (min-width: 1200px) {
  .grid-wrapper {
    width: 924px;
    margin: 0 auto;
  }
  .container-about-us {
    margin: 0 45px;
  }

  .descriptions {
    display: grid;
    grid-template-columns: 278px auto;
    grid-template-rows: 1fr;
    grid-column-gap: 45px;
  }
  .story {
    width: auto;
  }

  .profile-pic {
    width: 278px;
    height: 278px;
  }


  .descriptions:nth-child(2n) {
    grid-template-columns: 1fr 278px;
  }
}