.about-us-title {
    margin: 45px 0 45px 0;
}

.descriptions {
   
}

.personal {

   
}

.descriptions:nth-child(2n) .personal {       
    
}



.descriptions:nth-child(2n) .story {   
  
}

.story{
   
}

.profile-pic{
    width: 205px;
    height: 205px;
    
}


.icons{
    padding-bottom: 0;
}




