.team{
    position: relative;
}

.anchor{
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    top: -115px;
}
.team-title {
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    color: #099d8d;
    margin: 0px 0px 15px 0px;
    text-align: center;
}

.strengths .subtitle {
    margin: 0px 0px 10px 0px;
}

.subtitle {
    text-align: center;
    color: #099d8d;
    font-family: "Rubik", serif;
    font-weight: 500;
    font-size: 22px;
    margin: 30px 0px 10px 0px;
}

.skills {
    background-color: #f1f1f1;
    padding: 30px 20px 45px 20px;
    position: relative;

}


.arrow {
    width: 0;
    height: 0;
    border-right: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid transparent;
    border-top: 25px solid white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:0px;
   
}

.texteam {
    color: #54585a;
    line-height: 24px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
}

.weakness .texteam {
    margin-bottom: 0px;
}

/***** ABOUT US ******/

.container-about-us{
    position: relative;
}

.about-us-title{
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    color: #099d8d;
    margin: 30px 0px;
    text-align: center;
    padding: 5px 0px;
}

.descriptions{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
}
.name {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #000000;
    margin: 0px;

}

.descriptions:nth-child(2n){
    flex-direction: row-reverse;
    align-self: flex-end;
    
}

.profile-pic{
    width: 180px;
    height: 180px;
    box-shadow: 0 0 0 4px rgba(0,0,0,.13);
    border-radius: 4px;
    
}

.story{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #54585a;
    margin: 10px 0px;
    
}
.icons {

    margin: 15 0 0 45px;
    color: #000000;
}
.fab {
    color: #099d8d;
}

/*para version movil, no usar esto, para la página web, veremos*/

/* .container-about-us{
    background-color: silver;
    border: 5px;
    padding: 30px;
    margin: 5px;

} */

.personal{
    
    text-align: center;
    margin-top: 15px;
}

.icons{
    padding: 15px 0 45px 0;
}


@media all and (min-width: 768px) {

    /*** ABOUT US ***/

    .about-us-title {
        margin: 45px 0 45px 0;
    }

    .descriptions {
        margin-bottom: 60px;
    }

    .personal {

        margin: 0 0 0 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .descriptions:nth-child(2n) .personal {
               
        align-items: flex-end;
        padding: 0 30px 0 0;
    }



    .descriptions:nth-child(2n) .story {
        
        text-align: right;
    }

    .story{
        width: 50vw;
        margin-bottom: 0;
        text-align: left;
    }
   
    .profile-pic{
        width: 205px;
        height: 205px;
        
    }

    
    .icons{
        padding-bottom: 0;
    }




    /***** PARTE DE TEAM *******/


    .team {
        padding: 45px 30px 60px 30px;
    }

    .team-title {
        margin-bottom: 15px;
    }


    .skills {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        width: 100%;       

    }

    .strengths {
        width:50%;
        padding-right: 15px;
        padding-left: 35px;
        box-sizing: border-box;
        flex-grow: 1;
    }

    .weakness {
        width: 50%;
        padding-right: 35px;
        padding-left: 15px;
        box-sizing: border-box;
        flex-grow: 1;
    }

    .skills {
        padding: 45px 0 60px 0;
    }

    .subtitle {
        margin-bottom: 15px;
        margin-top: 0px;
    }

    .texteam {
        margin-bottom: 0;
    }
}

// Versión desktop//

@media all and (min-width: 1200px) {
    .texteam {
        width: 601px;
    }

    .team {
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    .strengths{
        padding-right: 22.5px;

    }

    .weakness{
        padding-left: 22.5px;

    }
}

