<div class="pie">
<div class="stamp">In the mood for Code &copy2018</div>
    <div class="menu-footer">
        <nav class="menu-navfooter">
            <a class="navfooter" href="index.html#team-all" target="_blank">TEAM</a>
            <a class="navfooter" href="index.html#about-us" target="_blank">ABOUT US</a>
            <a class="navfooter" href="contact.html">CONTACT US</a>
        </nav>
    </div>

<div class="adalab">
    <img class="imagen-adalab" src="assets/images/logo-adalab.png" alt="logo de adalab">
</div>
</div>