<div class="pie">

        

        <div class="stamp">In the mood for Code &copy2018</div>
        <div class="menu-footer">
            <nav class="menu-navfooter">
                <a class="navfooter" href="#team-all">TEAM</a>
                <a class="navfooter" href="#about-us">ABOUT US</a>
                <a class="navfooter" href="contact.html" target="_blank">CONTACT US</a>
            </nav>
        </div>
        <div class="adalab">
            <img class="imagen-adalab" src="assets/images/logo-adalab.png" alt="logo de adalab">
        </div>

</div>
