<section>
<div class="wrapper--about-us">
    <div id="about-us" class="anchor">.</div>
    <h2 class="about-us-title">ABOUT US</h2>

  <ul class="container-about-us">
    <li class="descriptions">
      <div class="individualpic"> <img class="profile-pic" src="assets/images/Beatriz.jpg" alt="Beatriz"> </div>
      <div class="personal">
        <h3 class="name">Beatriz Germán</h3>
        <p class="story">I am Telecommunication Engineer and I have been working as Project Manager for
          3
          years. Now I am working for changing my life and become myself in a Javascript developer. I
          hope I can do it! Girls, let's play together this game!</p>
        <div class="icons">
          <a href="https://twitter.com/Alhana_yo?lang=es" target="_blank"><i class="fab fa-twitter"></i></a>
          ·
          <a class="linkedin" href="https://www.linkedin.com/in/beatriz-german-rengel-02051985/" target="_blank"><i
              class="fab fa-linkedin-in"></i></a>
          ·
          <a href="https://github.com/alhana-yo" target="_blank"><i class="fab fa-github-alt"></i></a>
          ·
          <a href="mailito:beatriz.german.rengel@gmail.com" target="_blank"><i class="fab fas fa-envelope"></i></a>
        </div>
      </div>
    </li>

    
    <li class="descriptions">
      <div class="individualpic"> <img class="profile-pic" src="assets/images/Yen.png" alt="Yen"> </div>
      <div class="personal">
        <h3 class="name">Yen Hoang</h3>
        <p class="story">Future front-end developer, passionate about flex-box, currently trying to
          keep me afloat in the world of code. Philosophy of life: Work hard and win.</p>
        <div class="icons">
          <a href="http://www.twitter.com/YenHoan28393198" target="_blank"><i class="fab fa-twitter"></i></a>
          ·
          <a class="linkedin" href="https://www.linkedin.com/in/YenHoangChu" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          ·
          <a href="#" target="_blank"><i class="fab fa-github-alt"></i></a>
          ·
          <a href="mailito:japocoin@gmail.com" target="_blank"><i class="fab fas fa-envelope"></i></a>
        </div>
      </div>

    </li>

    <li class="descriptions">
      <div class="individualpic"> <img class="profile-pic" src="assets/images/Paula.jpg" alt="Paula"> </div>
      <div class="personal">
        <h3 class="name">Paula Mara Moreno</h3>
        <p class="story">I have a History and a Literature Theory and Comparative Literature Degree,
          and my
          superpower is never get tired of challenges. I’ve been communication and marketing
          responsible
          for Music Business and many alternative cultural projects; after being in top of dozens of
          stages and living on tour with rock and roll bands... there’s another exciting thing to do
          in
          my life, coding!</p>
        <div class="icons">
          <a href="http://www.twitter.com/chicainoportuna" target="_blank"><i class="fab fa-twitter"></i></a>
          ·
          <a class="linkedin" href="http://www.linkedin.com/in/paulamara" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          ·
          <a href="https://github.com/chicainoportuna" target="_blank"><i class="fab fa-github-alt"></i></a>
          ·
          <a href="mailto:paula.mara@gmail.com" target="_blank"><i class="fab fas fa-envelope"></i></a>
        </div>
      </div>
    </li>

    <li class="descriptions">
      <div class="individualpic"> <img class="profile-pic" src="assets/images/Ines.png" alt="Inés"> </div>
      <div class="personal">
        <h3 class="name">Inés Pedraza</h3>
        <p class="story">Psychologist and art lover, with an authentically geeky heart. Always looking
          for
          a point of connection between my passions and new challenges ... Adalab is the next
          challenge
          that will help me reach this goal. So excited to be here!</p>
        <div class="icons">
          <a href="https://twitter.com/InesPpino" target="_blank"><i class="fab fa-twitter"></i></a>
          ·
          <a class="linkedin" href="https://www.linkedin.com/in/in%C3%A9s-pedraza-pino/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          ·
          <a href="https://github.com/inesppino" target="_blank"><i class="fab fa-github-alt"></i></a>
          ·
          <a href="mailito:inesp.pino@gmail.com" target="_blank"><i class="fab fas fa-envelope"></i></a>
        </div>
      </div>

    </li>
    <li class="descriptions">
      <div class="individualpic">
        <img class="profile-pic" src="assets/images/Natalia.jpg" alt="Natalia">
      </div>

      <div class="personal">
        <h3 class="name">Natalia Pelegero</h3>
        <p class="story">Hi! I’m Natalia. I have always been very passionate about languages so, when I
          was
          20 I moved to the city of Valencia where I completed a degree in English Studies and I also
          studied Italian and Portuguese. Since then I’ve lived in different places, which has
          allowed me
          to get to know other cultures, to learn Greek and a bit of Dutch and to put my language
          skills
          into practice.
          I met the Adalab programme at a time when I was looking for a career change and, here I am,
          eager to learn and ready to study a new language. A programming one this time!
        </p>
        <div class="icons">
          <a href="https://twitter.com/Kozmiknatt" target="_blank"><i class="fab fa-twitter"></i></a>
          ·
          <a class="linkedin" href="https://www.linkedin.com/in/nataliapelegero/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          ·
          <a href="https://github.com/natalia-pn" target="_blank"><i class="fab fa-github-alt"></i></a>
          ·
          <a href="mailito:npelegero@gmail.com" target="_blank"><i class="fab fas fa-envelope"></i></a>
        </div>
      </div>

    </li>
  </ul>
</div>
</section>