<header class="page__header">

    <div class="header">
        
        <div class="header-container">

            <div class="header_name">
                <h1 class="group-name">IN THE MOOD FOR CODE</h1>
            </div>

            <div class="menu">

                <nav class="menu-nav">
                    <a class="menu-nav-link" href="#team-all">TEAM</a>
                    <a class="menu-nav-link" href="#about-us">ABOUT US</a>
                    <a class="menu-nav-link" href="contact.html" target="_blank">CONTACT US</a>
                </nav>
            
            </div>

        </div>
    
    </div>

</header>
