<section>
        <div class="team">
            <div id="team-all" class="anchor">.</div>
            <h2 class="team-title">TEAM</h2>
            <p class="texteam"> We are an enthusiastic group of women, full of energy to accept the constant
                changes that characterize the IT sector. We are determined to take charge of our professional
                lives. Thanks to the knowledge and values that Adalab provides us with, we are ready to face this
                new challenge and we are <em>In the mood for Code!</em>
            </p>
        </div>

        <div class="skills">
            <div class="arrow"></div>
            <div class="strengths">
                <h3 class="subtitle">Strengths</h3>
                <p class="texteam"> We have chosen this change, we are willing to fight for it with lots of
                    motivation and hope. We are creating a strong team in which cooperation and communication
                    prevail and mutual support is key for us to keep moving forward.
                </p>
            </div>
            <div class="weakness">
                <h3 class="subtitle">Weakness</h3>
                <p class="texteam"> We are junior developers in process, assimilating lots of information in a
                    short period of time. Despite the long hours of practice and personal commitment, we are aware
                    of this just being the beginning and that we still have many hours to invest in our training
                    and therefore, much to learn.
                </p>
            </div>
        </div>
        </div>
    </section>