<!DOCTYPE html>
<html lang="en">
    

<head>
    <meta charset="utf-8">
    <title>Contact us</title>
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <header class="header">
            <div class="header-container">
        
                <div class="name">
                    <h1 class="group-name">IN THE MOOD FOR CODE</h1>
                </div>
        
                <div class="menu">
                        
                        <nav class="menu-nav">
                            <a class="menu-nav-link" href="index.html#team-all">TEAM</a>
                            <a class="menu-nav-link" href="index.html#about-us">ABOUT US</a>
                            <a class="menu-nav-link" href="#">CONTACT US</a>
                        </nav> 
                </div>
        
            </div>
        </header>
      
      <main>

        <div class="hero">

       
          <div class="contact-image">
              <!-- <img src="images/in-the-mood-for-love.jpg" alt="imagen-grupo"> -->

          </div>
        </div>
      </main>

      <footer>

        <div class="stamp">In the mood for Code &copy2018</div>
        <div class="menu-footer">
            <nav class="menu-navfooter">
                <a class="navfooter" href="index.html#team-all">TEAM</a>
                <a class="navfooter" href="index.html#about-us">ABOUT US</a>
                <a class="navfooter" href="contact.html">CONTACT US</a>
            </nav>
        </div>
        <div class="adalab">
            <img src="images/logo-adalab.png"
                alt:"logo de adalab">
        </div>



    </footer>

</body>

</html>