<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <title>Contact us</title>
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <partial src="_header.html"></partial>


    <main>
        <partial src="_hero.html"></partial>

        <partial src="_contactform.html"></partial>

    </main>

      <footer class="pie">

        <div class="stamp">In the mood for Code &copy2018</div>
        <div class="menu-footer">
            <nav class="menu-navfooter">
                <a class="navfooter" href="index.html#team-all">TEAM</a>
                <a class="navfooter" href="index.html#about-us">ABOUT US</a>
                <a class="navfooter" href="contact.html">CONTACT US</a>
            </nav>
        </div>
        <div class="adalab">
            <img class="imagen-adalab" src="assets/images/logo-adalab.png"
                alt="logo de adalab">
        </div>



    </footer>

</body>

</html>