<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>In the mood for Code</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
        crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/styles.css">

</head>

<body>
    <partial src="_header.html" label="Header"></partial>


    <main>
        <partial src="_hero.html"></partial>

        <partial src="_team.html"></partial>

        <partial src="_aboutus.html"></partial>

    </main>

    <footer class="pie">

        <div class="stamp">In the mood for Code &copy2018</div>
        <div class="menu-footer">
            <nav class="menu-navfooter">
                <a class="navfooter" href="#team-all">TEAM</a>
                <a class="navfooter" href="#about-us">ABOUT US</a>
                <a class="navfooter" href="contact.html" target="_blank">CONTACT US</a>
            </nav>
        </div>
        <div class="adalab">
            <img class="imagen-adalab" src="assets/images/logo-adalab.png" alt="logo de adalab">
        </div>



    </footer>


</body>

</html>