
.hero {
    
    background-image: url(../images/foto-grupo.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.image-main {
    height: 421px;
}

.claim {
    
    margin: 0 15px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.993);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    transform: translateY(-50%);  
} 

    @media all and (min-width: 768px) and (max-width:1200px){
 }
 .claim {
     /* margin: 15 30px; */
     padding: 15 30px;
     /* padding: 0; */
     width: 441px;
 }