@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Rubik:400,500,700');
@import url('header.css');
@import url('hero.css');
@import url('main.css');
@import url('footer.css');

body {
    margin: 0px;
    /* padding: 0px 5px; darle padding a los elementos que queremos que no lleguen al final */
}

.contact-image {
    height: 300px;
    background-image: url(../images/contact.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


  